

.home-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #232323; */
  color: #232323;
  background-image: url('../../../images/upload-background-4.jpg');
  background-repeat: no-repeat;
  background-size: auto 1400px;
}